.sidebar .sidebar-nav {
    line-height: 1.2em;
}

.sidebar>h1 a {
    color: #ea6f5a;
}

.sidebar li>p {
    color: #EEEEEE;
    padding: 0.3em 0em 0.3em 0.5em;
    background-color: #323232;
}

.search {
    margin-bottom: 6px;
    padding: 6px;
    border-bottom: 0px;
}

.markdown-section strong {
    color: #EEEEEE;
}

.markdown-section tr:nth-child(odd)  {
    background-color: #3f3f3f;
}

.markdown-section tr:nth-child(even)  {
    background-color: #323232;
}

.markdown-section th {
    color:  #ea6f5a;
    background-color: #323232;
}

.markdown-section td, .markdown-section th {
    border: 1px solid #323232;
}

.markdown-section hr {
    border-bottom: 1px solid #323232;
}
